.container {
	padding-top: 4rem;
	background: radial-gradient(
		circle,
		rgba(202, 8, 255, 0.6) 0%,
		rgba(0, 0, 0, 0) 30%
	);
	background-size: cover;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}

.blur {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(5rem);
	z-index: 3;
}

.greeting {
	z-index: 5;
	color: var(--text-color-secondary);
	font-size: 3rem;
	font-weight: 700;
}

.name {
	z-index: 5;
	color: var(--text-color-primary);
	font-size: 6rem;
	font-weight: 800;
}

.about {
	z-index: 5;
	color: var(--text-color-secondary);
	font-size: 2rem;
	font-weight: 600;
}

.gradientText {
	// Gradient Text
	background: var(--gradient-color);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;

	font-weight: 700;
	padding: 0 0.5rem;
	border-radius: 0.2rem;
}
