---
import IntroSection from "@layouts/IntroSection.astro";
import PageLayout from "@layouts/PageLayout.astro";

import Header from "@components/Header.astro";
import SocialMediaIcons from "@components/SocialMedia.astro";
import Button from "@components/Button.astro";
import Link from "@components/Link.astro";
import Logo from "@components/Logo.astro";

import GithubIcon from "@icons/GithubIcon.astro";
import InstagramIcon from "@icons/InstagramIcon.astro";
import MailIcon from "@icons/MailIcon.astro";
import LinkedinIcon from "@icons/LinkedinIcon.astro";
import TwitterIcon from "@icons/TwitterIcon.astro";
import ProfilePicture from "@components/ProfilePicture.astro";
---

<PageLayout>
	<Header>
		<Link href='/blog'>
			<p style='color:white;font-weight: 600;font-size: 1.2rem;'>Blog</p>
		</Link>

		<Logo />
	</Header>
	<SocialMediaIcons>
		<GithubIcon />
		<InstagramIcon />
		<LinkedinIcon />
		<TwitterIcon />
		<MailIcon />
	</SocialMediaIcons>
	<IntroSection style='display: flex;'>
		<div class='section'>
			<h1>Rama Krishnan V</h1>
			<h2>I'm a Teenager | Developer | Tech Enthusiast</h2>
			<div>
				<Link href=''>
					<Button variant='primary'>My Work</Button>
				</Link>
				<Button variant='outline'>My Journey</Button>
			</div>
			<p class='description'>I am a Full Stack dev</p>
		</div>
		<div class='section'>
			<ProfilePicture />
		</div>
	</IntroSection>
</PageLayout>

<style lang='scss'>
	body {
		background-color: var(--primary-color);
	}

	h1 {
		color: #fff;
		font-size: 3rem;
	}

	h2 {
		font-weight: 300;
		font-size: 1.2rem;
		color: #fff;
	}

	.section {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.profilepicture {
		height: 20rem;
		width: 20rem;

		border: 1px solid white;
		border-radius: 1rem;
	}

	.description {
		color: white;
	}
</style>
