<div class='container'>
	<img
		class='profilepicture'
		src='/ProfilePicture.png'
		alt='Profile Picture'
	/>
	<div class='square'></div>
	<div class='square'></div>
</div>

<style lang='scss'>
	@keyframes rotate {
		from {
			transform: translate(-400%);
		}
		50% {
			transform: translate(400%);
		}
		to {
			transform: translate(-400%);
		}
	}
	div {
		height: 20rem;
		width: 20rem;

		position: relative;
		display: grid;
		place-items: center;
		overflow: hidden;

		border-radius: 1rem;
	}
	img {
		border-radius: 0.8rem;

		height: calc(20rem - 1rem);
		width: calc(20rem - 1rem);
		background-color: #fff;

		outline: 6px solid #000;
		z-index: 1;
	}
	.square {
		height: 40rem;
		width: 4rem;

		background-color: var(--accent-color);

		position: absolute;

		animation: 4s rotate infinite;
		rotate: 45deg;

		box-shadow: 0 0 3rem #fff;
		&:nth-child(2) {
			animation-delay: 2s;
		}
	}
</style>
