---
---

<section>
	<slot />
</section>

<style lang='scss'>
	section {
		// Removes the space taken by Header
		height: calc(100vh - 4rem);
		width: clamp(80vw, 90vw, 25rem);

		background-color: #fff;
	}
</style>
